VITE_SUPABASE_URL=https://whcugroccojyofhydhnh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndoY3Vncm9jY29qeW9maHlkaG5oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ3MDAwOTYsImV4cCI6MjEwMDI3NjA5Nn0.amIOA1l2pYns_Zlevm0ivELXnanV0pZtWCF2leGDXsM
